Include /etc/ssh/sshd_config.d/*.conf
AcceptEnv LANG LC_*
Banner /etc/issue.net
ChallengeResponseAuthentication no
LoginGraceTime 60
MACs hmac-sha2-512,hmac-sha2-256
MaxAuthTries 4
MaxStartups 10:30:60
PasswordAuthentication yes
PermitRootLogin no
PrintMotd no
Subsystem	sftp	/usr/lib/openssh/sftp-server
UsePAM yes
X11Forwarding yes